# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/bin
/idea
/.idea
/.settings
/public/showcase

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
tsconfig.json
debug.log

.svn/pristine*
.svn
.project
OnlineIFClient.tar
config/Chain_RootCA_Bundle.crt
config/star_pulmuone_com_cert.pem
config/star_pulmuone_com_key.pem
