/* .wrap{
    max-width: 1500px;
    display : flex;
    justify-content : space-between
}

/* 반응형 웹 */
/* @media all and (max-width: 1300px){
    .backup-intro{
        flex-direction: column;
    }
} */

/* @media(min-width: 1000px) {
    .wrap {
        display: flex;
    }   

    div.container {
        flex: auto;
        width: auto;
        text-align: initial;
    }

    .btn{
        float: left;
        padding-left:50px;
        display: none;
        padding-top:5px;
    }
} */


/* #jb-container {
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #bcbcbc;
  }
  #jb-header {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #bcbcbc;
  }
  #jb-content {
    width: 580px;
    padding: 20px;
    margin-bottom: 20px;
    float: left;
    border: 1px solid #bcbcbc;
  }
  #jb-sidebar {
    width: 260px;
    padding: 20px;
    margin-bottom: 20px;
    float: right;
    border: 1px solid #bcbcbc;
  }

  #jb-sidebar2 {
    width: 260px;
    padding: 20px;
    margin-bottom: 20px;
    float: right;
    border: 1px solid #bcbcbc;
  }

  #jb-footer {
    clear: both;
    padding: 20px;
    border: 1px solid #bcbcbc;
  }
  @media ( max-width: 700px ) {
    #jb-container {
      width: auto;
    }
    #jb-content {
      float: none;
      width: auto;
    }
    #jb-sidebar {
      float: none;
      width: auto;
    }
    #jb-sidebar2 {
        float: none;
        width: auto;
      }
  } */




 
  #wrap{
      width: 90%;
      border: 4px solid black;
      margin-left: auto; margin-right: auto;
  }

  #wrap div{
      /* inline-block으로 지정하면 무조건 좌우 여백(6px)이 존재함 */
      display: inline-block;
      height: 100px;
      width: 100%;
  }

  /* 서브 div 각각에 배경색 지정 */
  #wrap div:first-child{
      background-color: cornflowerblue;
  }
  #wrap div:nth-child(2){
      background-color: darkolivegreen;
  }
  #wrap div:nth-child(3){
      background-color: orangered;
  }
  #wrap div:nth-child(4){
      background-color: darkslateblue;
  }
  #wrap div:last-child{
      background-color: darkkhaki;
  }

  /* 테블릿 사이즈 일때 */
  /* 화면 사이즈 600px 이상일때 : phone-landscape(가로모드) or tablet */
  @media all and (min-width:600px){
      #wrap div{width: 50%;}
      #wrap div:last-child{width: 100%;}
  }

  /* 데스크탑 모니터일때 */
  /* 800px이상일 때 */
  @media all and (min-width:800px){
      #wrap div{width: 20%;}
      #wrap div:last-child{width: 20%;}
  }