.layout-wrapper {
    .layout-content {
        margin-left: 300px;
        padding-top: 70px;

        .link-button {
            font-weight: bold;
            text-align: center;
            color: #ffffff;
            background-color: #fe8702;
            padding: 10px 24px 9px 24px;
            border-radius: 3px;
            @include transition(background-color .2s);

            &:hover {
                background-color: #C56A05;
                color: #ffffff;
            }
        }

        .link-button2 {
            font-weight: bold;
            text-align: center;
            color: #8C6816 !important;;
            background-color: #FFCB54;
            padding: 10px 24px 9px 24px;
            border-radius: 3px;
            @include transition(background-color .2s);
            display: inline-block;

            &:hover {
                background-color: #E5AF36;
                color: #8C6816 !important;
            }
        }

        .content-section {
            display: block;
            padding: 30px;
            background-color: #f5f7f8;

            &:first-of-type > div > span {
                line-height: 1.5em;
            }

            h2 {
                margin-top: 0;
            }

            &.introduction {
                @include background-gradient-left2right(#008fba, #03c4e8);
                color: #ffffff;

                .feature-intro {
                    h1 {
                        font-size: 28px;
                        margin: 0 0 20px 0;
                        display: block;
                        text-align: left;
                        color: #ffffff;
                        font-weight: normal;
                    }

                    p {
                        margin: 0;
                        line-height: 2em;
                        font-size: 16px;
                    }

                    a {
                        border-radius: 3px;
                        background-color: #b2ddea;
                        color: #00475d;
                        padding: 2px 4px;
                        @include transition(background-color .2s);

                        &:hover {
                            background-color: #d8eef4;
                        }
                    }
                }
            }

            &.backup {
                @include background-gradient-left2right(#ba9800, #d1df14);
                color: #ffffff;

                .backup-intro {
                    h1 {
                        font-size: 20px;
                        margin: 0 0 20px 0;
                        display: block;
                        text-align: left;
                        color: #ffffff;
                        font-weight: normal;
                    }

                    p {
                        margin: 0;
                        line-height: 2em;
                        font-size: 16px;
                    }
                    a {
                        border-radius: 3px;
                        background-color: #b2ddea;
                        color: #00475d;
                        padding: 2px 4px;
                        @include transition(background-color .2s);

                        &:hover {
                            background-color: #d8eef4;
                        }
                    }
                }
            }                               
        }
    } 

    @media screen and (max-width: $tabletBreakpoint) {
        .layout-content {
            margin-left: 0;
            padding-top: 110px;

            .content-section {
                &.submenu ul li,
                &.content-submenu ul li {
                    width: 50%;
                }

                .doc-table {
                    tbody{
                        td {
                            word-break: break-word;
                        }
                    }
                }
            }

            .home {
                .introduction,
                .features,
                .whouses,
                .prosupport {
                    > div {
                        width: 100%;
                    }
                }
            }

            .dataview-demo {
                .p-dataview {
                    .car-details {

                        img {
                            width: 75px;
                        }
                    }
                }
            }

            .p-col-d {
                display: none;
            }

            .p-col-m {
                display: inline-block;
            }
        }
    }

    @media screen and (max-width: $mobileBreakpoint) {
        .layout-content {
            .dataview-demo {
                .car-details, .search-icon {
                    text-align: center;
                    margin-top: 0;
                }

                .filter-container {
                    text-align: left;
                }
            }

            .datascroll-demo {
                .car-item {
                    text-align: center;
                }
            }
        }
    }
}